<p style="color: green"><%= notice %></p>

<% content_for :title, "Resumes" %>


<div id="resumes">
    <% @resumes.each do |resume| %>
    <li class="bg-white shadow-md rounded-md p-4 flex justify-between items-center">

        <p class="text-blue-500"><%= resume.title %></p>
        <div>
            <%= link_to "View", resume, class: "text-green-500 hover:underline"%>
        </div>


    </li>
    <% end %>
</div>

<%= link_to "+ Create New Resume", new_resume_path, class: "bg-blue-500 hover:bg-blue-700 text_white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" %>